/* NAVBAR */
$Secondary: #00d4ff;

nav {
  position: sticky;
  width:100%;
  top: 0;
  background: rgba(0,0,0,0.75);
  backdrop-filter: blur(6px);
  padding: 30px 0;
  z-index: 1;
  ul{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    gap: 30px;
    list-style: none;
    
    li{
      a{
        text-decoration: none;
        color: white;
        font-weight: bold;
        transition: color 0.2s;
        font-size: 23px;
        &:hover{
          color: $Secondary;
        }
      }
    }
  }
}